@import "tailwindcss/base";
@import "tailwindcss/components";
@import "@radix-ui/themes/styles.css";

@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 p-2 font-medium rounded-md hover:text-zinc-800 transition-colors;
  }
}
